!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.min.js')
    script(src='/javascripts/jquery.event.drag-2.0.js')
    script(src='/javascripts/slick.core.js')
    script(src='/javascripts/custom.js')
    script(src='/javascripts/slick.grid.js')
    script(src='/javascripts/slick.core.js')
  body!= body